* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    /*font-family: 'Open Sans', sans-serif;*/
    /*15px 17px */
    text-transform: uppercase;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
ul, li, h2, h3, p {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/*-------------- Header---------------*/

.header__logo {
    height: 82px;
    align-items: center;
    padding: 0 22px;
}
.logo-price {
    font-size: 33px;
    color: #a1a1a1;
    position: relative;
}
.logo-price::before {
    content: "";
    background-image: url(../img/basket.svg);
    width: 41px;
    height: 37px;
    position: absolute;
    left: -58px;
    top: -5px;
}

/*===================Navigation==============*/

.main__nav {
    background-color: #4ccfc1;
    box-shadow: 1px 2px 4px -4px #22615b;  
}
.main__nav-menu {
    font-size: 21px;
    padding: 6px 20px 6px 18px;
    
}
.nav-item {
    position: relative;
}
.nav-item::after {
    content: "|";
    position: absolute;
    color: #fff;
    right: -27px;
}
.nav-link {
    transition: .2s;
}
.nav-link:hover {
    color: #a1a1a1;
}

/*====================Main Slide===================*/

.slider__main {
    background-color: #37beb4;
    background-image: url(../img/tshirt-fon.png);
    padding: 67px 0 55px 0;
    position: relative;
}
.slider__main-img {
    background-image: url(../img/tshirt.png);
    width: 278px;
    height: 325px;
    margin-left: 78px;
}
.slider__about {
    max-width: 408px;
    margin-right: 160px;
    margin-top: 13px;
}
.slider__title {
    font-size: 61px;
    line-height: 0.9;
    font-weight: 300;
}
.slider__desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.6;
    text-transform: none;
    margin: 10px 0 34px 0;
}
.btn-main-shop {
    font-size: 27px;
    border: 3px solid #fff;
    border-radius: 8px;
    /* padding: 7px 24px 3px; Если бы это был бы div, а не ссылка */
    padding: 4px 24px 1px;
    /* transition: .4s; */
}
.btn-main-shop:hover {
    border: 4px solid #fff;
}

/*=====================Item Slider===================*/

.slider__item-list {
    padding: 24px 70px 24px 24px;
    
    box-shadow: 1px 2px 4px -4px #22615b; 
}
.list-item {
    display: flex;
    margin: 0 auto;
    min-width: 340px;
    position: relative;
}
.title-card {
    max-width: 104px;
    margin-top: 24px;
    font-size: 27px;
    line-height: 1;
    color: #afafaf;
    font-weight: 300;
}
.title-card {
    margin-bottom: 20px;
}
.btn-item-shop {
    font-size: 20px;
    border: 1px solid #3cc395;
    background-color: #3cc395;
    border-radius: 4px;
    padding: 3px 13px 1px;
}
.item-middle {
    margin-left: 47px;
}
.item-right {
    margin-left: 78px;
}
.list-item:last-child img {
    margin-left: 23px;
}

/*======================Featured Product=====================*/

.featured-prod__title {
    background-color: #37beb4;
    background-image: url(../img/tshirt-fon.png);
}
.featured-prod__title-main {
    font-size: 31px;
    font-weight: 300;
    padding: 19px 0 13px 53px;
}
.featured-prod__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 46px 90px 28px 58px;
}
.card-item {
    border: 1px solid #e4e4e4;
    border-bottom: 5px solid #3cc395;
    /* flex-basis: 29%; */
    /* text-align: center; */
    padding: 22px 0 29px 0;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-card-item {
    margin: 0 auto;
    max-width: none;
    margin-top: 17px;
    margin-bottom: 10px;
}
.btn-card {
    padding: 4px 8px 2px 8px;
}
.card-price {
    display: inline; /* Сделали цену строчным элементом, чтобы расположить на одной строке с кнопко-ссылкой */
    font-size: 27px;
    color: #afafaf;
    vertical-align: middle; /* Выровняли ее по вертикали */
    margin-left: 12px;
    margin-right: 12px;
}

/*=======================Footer====================*/

.footer {
    background-color: #3cc3b5;
}
.footer__main-list {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 61px;
}
.footer__list-items {
    font-size: 27px;
    color: #fff;
}
.footer__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-transform: none;
}
/* .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
} */